# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.npmrc
node_modules
.DS_Store
dist
dist*
dist.zip
coverage
*.local
*.keystore
stats.html
.env.development
/cypress/videos/
/cypress/screenshots/
capacitor/android/app/office/
capacitor/android/app/x5/
capacitor/android/app/key.pepk

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/typings/components.d.ts
package-lock.json
yarn.lock
